html{
    background-color: black !important;
}

.gradient-custom {
    background: linear-gradient(to right, rgb(40, 54, 107), rgb(32, 33, 71));
}

input::placeholder {
    font-size: 1.5rem;
}