<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/products.css">
</head>
<body onload="loadProducts()">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 shadow-sm">
		<div class="container">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-cart-fill" viewBox="0 0 16 16">
				<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg> 
                <div class="navbar-brand ms-2" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>E-shop</strong></div>
			<ul class="navbar-nav ms-auto ">
				<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
					<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" /> </svg>
				<li class="nav-item">
					<div id="username" class="nav-link mx-2 text-light fw-bold">Username</div>
				</li>
				<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-door-open-fill" viewBox="0 0 16 16">
					<path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" /> </svg>
				<li class="nav-item"> <a href="/logout" class="text-light nav-link mx-2 fw-bold">Logout</a> </li>
			</ul>
		</div>
		</div>
	</nav>
    <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column bg-dark" id="sidebar">
        <div class="container">
            <div class="left">
                <div class="title">
                    <div class="nav-link h3 text-white my-2 text-center">
                        Menu
                    </div>
                </div>
                <div class="item-list">
                    <a href="/products" class="bg-primary nav-link text-center text-light fw-bold h4">
                        <span class="mx-2">Products</span>
                    </a>
                    <a href="/cart" class="bg-primary nav-link text-center text-light fw-bold h4">
                        <span class="mx-2">Cart</span>
                    </a>
                    <a href="/seller" class="bg-primary nav-link text-center text-light fw-bold h4">
                        <span class="mx-2">Seller</span>
                    </a>
                    <a href="/administration" class="bg-primary nav-link text-center text-light fw-bold h4">
                        <span class="mx-2">Administration</span>
                    </a>
                </div>
                </div>
            <div class="right text-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="search_container">
        <div class="search_card bg-dark">
            <div class="header text-light fw-bold h2">Search</div>
            <div class="search_row">
                <div class="left text-light h3 ms-5">Product name</div>
                <div class="right">
                    <input class="form-control form-control-lg" placeholder="e.g. Vans Shoes" type="text"> 
                </div>
             </div>
             <div class="search_row">
                <div class="left text-light h3 ms-5">Seller name/username</div>
                <div class="right">
                    <input class="form-control form-control-lg" placeholder="e.g. Bobby Brown" type="text"> 
                </div>
             </div>
             <div class="search_row">
                <div class="left text-light h3 ms-5">Category</div>
                <div class="right">
                    <input class="form-control form-control-lg" placeholder="e.g. Cars" type="text"> 
                </div>
             </div>
             <div class="search_row">
                <div class="left text-light h3 ms-5">Price</div>
                <div class="right">
                    <div class="price_left"><input class="form-control form-control-lg" placeholder="e.g. 115 $" type="text"></div>
                    <div class="middle text-light h3">to</div>
                    <div class="price_right"><input class="form-control form-control-lg" placeholder="e.g. 140 $" type="text"></div>
                </div>
             </div>
             <div class="search_row">
                <div class="left text-light h3 ms-5">Withdrawl date</div>
                <div class="right">
                    <div class="price_left"><input class="form-control form-control-lg" placeholder="e.g. 21/2/2022" type="text"></div>
                    <div class="middle text-light h3">to</div>
                    <div class="price_right"><input class="form-control form-control-lg" placeholder="e.g. 2/10/2022" type="text"></div>
                </div>
             </div>
             <div class="buttons">
                <button class="btn-lg bg-success text-light fw-bold me-5">Search</button>
                <button class="btn-lg bg-danger text-light fw-bold">Clear</button>
             </div>
        </div>
    </div>
    <div class="button-container">
        <a href="/cart" class="btn btn-lg btn-primary"> Cart </a>
    </div>
    <section style="background-color: transparent; overflow-y: scroll;">
        <div id="product_container" class="container py-5">
        </div>
    </section>
    <script src="js/products.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>